/* body, html {
  display: flex;
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
} */

* {
  font-family: 'Open Sans', sans-serif;
  border: 2px solid red;
}

body {
  display: flex;
  min-height: 600px;
}

/* LEFT-TOP */
aside {
  /* display: flex; */
  flex-direction: column;
  width: 20%;
}

header {
  font-size: medium;
  height: 10%;
}

img {
  max-height: 10px;
  max-width: 10px;
}

.user-profile-section { 
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  height: 65%;
}


/* LEFT-BOTTOM */

.avg-step-section{
  /* display: flex; */
  flex-direction: column;
  height: 25%;
}

/* RIGHT-TOP */
main {
  /* display: flex; */
  flex-direction: column; 
  height: 75%;
  width: 80%;
}

.all-user-info-section {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: stretch;
  height: 75%;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75vh;
}

.row-header {
  width: 10%; 
}

.hydration-column, .sleep-column {
  width: 45%;
}

/* RIGHT-BOTTOM */
.friends-section {
  display: flex;
  /* flex-direction: row; */
  height: 25vh;
}

.all-friends, .friend-1, .friend-2, .friend-3 {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: inherit;
}

/* RESPONSIVE DISPLAYS */
@media screen and (max-width 500px) {
  .aside, .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

/* 
@media screen and (max-width: 320px) {
  body {
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap;
  }

  .sleep-column, hydration-column {
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap;
  }

  .all-user-info-section, user-profile-section {
    display: flex;
    flex-wrap: wrap;
  } */
/* }   */
